 .u-section-1 {
  background-image: none;
  min-height: 912px;
}

.u-section-1 .u-shape-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 624px;
  min-height: 763px;
  height: auto;
  margin: -508px auto 59px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  margin: 59px 0 0;
}

.u-section-1 .u-image-1 {
  width: 550px;
  height: 343px;
  text-align: start;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 200px;
  }
} .u-section-2 {
  min-height: 851px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 516px);
  height: 229px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 535px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -763px auto -437px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 756px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 468px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 756px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 2.2;
  margin: 464px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 721px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 402px);
    height: 183px;
    margin-top: 483px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -610px;
    margin-bottom: 7px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-2 .u-image-1 {
    height: 386px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 753px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 290px);
    height: 173px;
    margin-top: 55px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -643px;
    margin-bottom: -415px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 296px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1169px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 290px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -688px;
    margin-bottom: -460px;
  }

  .u-section-2 .u-image-1 {
    height: 444px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1193px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 290px);
    margin-top: 535px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -506px;
    margin-bottom: -273px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 289px;
    margin-top: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  min-height: 851px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 516px);
  height: 229px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 535px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -763px auto -437px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 756px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 468px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 756px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  margin: 464px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 721px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 402px);
    height: 183px;
    margin-top: 483px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -610px;
    margin-bottom: 7px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-3 .u-image-1 {
    height: 386px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 753px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 290px);
    height: 173px;
    margin-top: 55px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -643px;
    margin-bottom: -415px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 296px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1169px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 290px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -688px;
    margin-bottom: -460px;
  }

  .u-section-3 .u-image-1 {
    height: 444px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1193px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 290px);
    margin-top: 535px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -506px;
    margin-bottom: -273px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 289px;
    margin-top: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}